<!DOCTYPE html>
<head>
    <style type="text/css">
        #header {
            background-color:dodgerblue;
            font-size:25px;
            padding:5px;
        }
        #nav {
            line-height:30px;
            background-color:#eeeeee;
            height: 600px;
            width:100px;
            float:left;
            padding:5px;
        }
        #section {
            width:400px;
            float:left;
            padding:10px;
        }
        #footer {
            background-color:dodgerblue;
            color:white;
            clear:both;
            text-align:center;
            padding:5px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
    </style>
    <title>Database Management Systems</title>
    <% if (typeof js_includes !== 'undefined') { %>
        <% for(var i=0; i < js_includes.length; i++) { %>
            <script src="<%= js_includes[i] %>"></script>
        <% }%>
    <% }%>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
    <div id="header">
        CS355 Database Management Systems
    </div>
    <div id="nav">
        <a href="/">Home</a><br/>
        <a href="http://www.cs.sonoma.edu/~haderman">CS 355 Website</a><br/>
        <a href ="http://www.cs.sonoma.edu/">CS Sonoma State Website</a><br/>
        <a href="http://www.sonoma.edu/">Sonoma State Website</a><br/>
        <a href="/users/new">Add a New User</a><br/>
        <a href="/users/all">View Users</a><br/>
        <a href="/movie/new">Add a New Movie</a><br/>
        <a href="/movie/all">View Movies</a><br/>
        <a href="/genre/new">Add a New Genre</a><br/>
        <a href="/genre/all">View Genres</a><br/>
        <a href="/states/new">Add a New State</a><br/>
        <a href="/states/all">View States</a><br/>
    </div>
