<% include ../views/partials/header.ejs %>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr>
            <th>States</th>
        </tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><%= rs[i].state %></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No states exist.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/states/new">Create New State</a>
</div>

<% include ../views/partials/footer.ejs %>
