<% include ../views/partials/header.ejs %>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr>
            <th>Genre</th>
        </tr>
        <% for (var i=0; rs.length-1 > i; i++) { %>
        <tr>
            <td><%= rs[i].genre %></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No genre exist.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/genre/new">Create New Genre</a>
</div>

<% include ../views/partials/footer.ejs %>
