<% include ../views/partials/header.ejs %>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr>
            <th>First Names</th>
            <th>Last Names</th>
        </tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/users/?user_id=<%= rs[i].user_id %>"> <%= rs[i].first_name %></a></td>
            <td><a href="/users/?user_id=<%= rs[i].user_id %>"> <%= rs[i].last_name %></a></td>
            <td>
                <a href="/users/delete/?user_id=<%= rs[i].user_id %>&username=<%= rs[i].username %>">Delete</a>
                <a href="/users/edit/?user_id=<%= rs[i].user_id %>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No users exist.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/users/new">Create New User</a>
</div>

<% include ../views/partials/footer.ejs %>
