<% include ../views/partials/header.ejs %>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Movie Title</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/movie/?movie_id=<%= rs[i].movie_id %>"> <%= rs[i].title %></a></td>
            <td>
                <a href="/movie/delete/?movie_id=<%= rs[i].movie_id %>&title=<%= rs[i].title %>">Delete</a>
                <a href="/movie/edit/?movie_id=<%= rs[i].movie_id %>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No movies exist.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/movie/new">Create New Movie</a>
</div>

<% include ../views/partials/footer.ejs %>