<% include ../views/partials/header.ejs %>
    <% if(rs.length > 0) { %>
    User: <%= rs[0].first_name %> <%= rs[0].last_name %>
    <ul>
        <% for(var i=0; rs.length > i ; i++) {%>
        <li>Movie: <%= rs[i].movie_title %>, Rating: <%= rs[i].rating %></li>
        <% } %>
    </ul>
    <% } else { %>
    No user matched user id <%= user_id %>.
    <% } %>
<% include ../views/partials/footer.ejs %>