<% include ../views/partials/header.ejs %>
    <% if(rs.length > 0) { %>
    Title: <%= rs[0].movie_title %>
    <ul>
        <% for(var i=0; i < rs.length; i++) {%>
        <li><%= rs[i].genre_name %></li>
        <% } %>
    </ul>
    <% } else { %>
    No movie matched movie id <%= movie_id %>.
    <% } %>
<% include ../views/partials/footer.ejs %>