<% include partials/header %>

  <div id="section">
    <table style="width:100%">
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Professor</th>
      </tr>
      <tr>
        <td>330</td>
        <td>Intro to Game Programming</td>
        <td>Gurman Gill</td>
      </tr>
      <tr>
        <td>355</td>
        <td>Database Mgt System Design</td>
        <td>Michael Haderman Jr</td>
      </tr>
      <tr>
        <td>450</td>
        <td>Operating Systems</td>
        <td>Suzanne Rivoire</td>
      </tr>
      <tr>
        <td>300</td>
        <td>The Journey of Adulthood</td>
        <td>Pamela Abbott-Enz</td>
      </tr>
      <tr>
        <td>494</td>
        <td>Counseling Experience</td>
        <td>Adam Hill</td>
      </tr>
    </table><br/>
    Top three things I've learned:
    <ol>
      <li>C++</li>
      <li>Python</li>
      <li>Database Design</li>
    </ol><br/>
    Three things I want to learn:
    <ul>
      <li>Javascript</li>
      <li>CSS</li>
      <li>More of gaming</li>
    </ul>
    <button type="button" onclick="alert('Great Clicking Skills!')">Click Me!</button>
  </div>
<% include partials/footer %>