<% include partials/header %>

<form action="/movie/save/">

    <label for="title">Title</label> <input type="text" id="title" name="title" /><br />

    <label for="tagline">Tagline</label> <input type="text" id="tagline" name="tagline" /><br />

    <input type="submit" />
</form>
<% include partials/footer %>