<% js_includes = [] %>
<% include ../views/partials/header.ejs %>

<div style="font-size:20px;">Add a New User</div>
<form method="POST" action="/users/insert_user">
    <label for="username">Username</label> <input type="text" id="username" name="username" /><br />
    <label for="first_name">First Name</label> <input type="text" id="first_name" name="first_name" /><br />
    <label for="last_name">Last Name</label> <input type="text" id="last_name" name="last_name" /><br />
    <label for="email">Email</label> <input type="text" id="email" name="email" /><br />

    <label for="password">Password</label> <input type="password" id="password" name="password" /><br />

    <label for="state">State</label>
    <div style="margin-left:10px;">
        <% for( var i = 0; i < states.length; i++) { %>
        <input type="checkbox"
               name="state_id"
               id="state_id" value="<%= states[i].state_id %>"><%= states[i].state %> <br />
        <% } %>
    </div>

    <button id="addBtnus">Add</button>
</form>
<% include ../views/partials/footer.ejs %>