<% js_includes = []%>
<% include ../partials/header.ejs %>

<h1>Add a New Movie</h1>
<form method="POST" action="/movie/insert_movie">
    Title <input type="text" id="title" name="title" /> <br /><br />
    Tag Line<textarea name="tagline" id="tagline"></textarea> <br />
    <br />
    Genre(s)<br />
    <div style="margin-left:10px;">
        <% for( var i = 0; i < genres.length; i++) { %>
        <input type="checkbox"
               name="genre_id"
               id="genre_id" value="<%= genres[i].genre_id %>"><%= genres[i].genre %> <br />
        <% } %>
    </div>

    <br />

    <button id="addBtnm">Add</button>
</form>

<% include ../partials/footer.ejs %>