<% include ../partials/header.ejs %>

<% if (typeof message !== 'undefined') { %>
    <div><%= message %></div>
<% } %>

<% if(rs.length > 0) { %>
    <div style="font-size:20px;"> Update User</div>
    <form method="POST" action="/users/update_user">
        <input type="hidden" name="user_id" value="<%= rs[0].user_id %>" />
        Username <input type="text" id="username" name="username" value="<%= rs[0].username%>" /><br/>
        First Name <input type="text" id="first_name" name="first_name" value="<%= rs[0].first_name%>" /><br/>
        Last Name <input type="text" id="last_name" name="last_name" value="<%= rs[0].last_name%>" /><br/>
        Email<input type="text" id="email" name="email" value="<%= rs[0].email%>"/><br />
        Password<input type="password" id="password" name="password" value="<%= rs[0].password%>"/><br />

        State
        <div style="margin-left:10px;">
            <% for( var i = 0; i < states.length; i++) { %>
            <input type="checkbox"
                   name="state_id"
                   id="state_id"

                    <% for (var j=0; j < rs.length; j++) {
                    if(states[i].state_id == rs[j].state_id) { %>
                   checked

                    <% }
                    }
                    %>
                   value="<%= states[i].state_id %>"><%= states[i].state %> <br />
            <% } %>
        </div>


        <button id="addBtnu">Edit</button>
    </form>
<% } else { %>
    No user matches that ID.
<% } %>

<% include ../partials/footer.ejs %>