<% include ../partials/header.ejs %>

<% if (typeof message !== 'undefined') { %>
<div><%= message %></div>
<% } %>

<% if(rs.length > 0) { %>
<h1>Edit State</h1>
<form method="POST" action="/states/update_state">
    <input type="hidden" name="state_id" value="<%= rs[0].state_id %>" />
    State: <input type="text" id="state" name="state" value="<%= rs[0].state%>" /><br/>
    <button id="addBtn">Edit</button>
</form>
<% } else { %>
No state matches that ID.
<% } %>

<% include ../partials/footer.ejs %>